{% extends 'base.html' %}

{% block title %}Aprobar/Rechazar Registro de Horas{% endblock %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Aprobar/Rechazar Registro de Horas</h2>
    <form method="post" class="card shadow p-4">
        {% csrf_token %}       
        <div class="mb-3">
            <p><strong>Nº Proyecto:</strong> {{ object.numero_proyecto }}</p>
            <p><strong>Colaborador:</strong> {{ object.usuario.get_full_name }}</p>
            <p><strong>Tipo de horas:</strong> {{ object.get_tipo_display }}</p>
            <p><strong>Fecha y Hora de Inicio:</strong> {{ object.fecha_inicio|date:"d/M/Y H:i" }}</p>
            <p><strong>Fecha y Hora de Fin:</strong> {{ object.fecha_fin|date:"d/M/Y H:i" }}</p>
            <p><strong>Horas calculadas:</strong> {{ object.horas }}</p>
            <p><strong>Descripción:</strong> {{ object.descripcion }}</p>
        </div>
        <div class="mb-3">
            <label for="id_estado" class="form-label">Estado:</label>
            {{ form.estado|add_class:"form-select" }}
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'lista_solicitudes' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
