<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Falcon 365{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'dashboard' %}">
                <img src="{% static 'img/LogoFI2.png' %}" alt="Logo" width="100%" height="40px"
                <img src="{% static 'img/F365.png' %}" alt="Logo" width="100%" height="40px"
                    class="d-inline-block align-text-top me-2">
                <!-- Gestión de Vacaciones y Horas -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>

                    <!-- Opciones Propias -->
                    {% if user.rol in 'GG,JI,JD' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="gestionPropiaDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mis gestiones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="gestionPropiaDropdown">
                            <li><a class="dropdown-item" href="{% url 'registrar_horas' %}">Registro</a></li>
                            <li><a class="dropdown-item" href="{% url 'crear_solicitud' %}">Crear Solicitud</a></li>
                            <li><a class="dropdown-item" href="{% url 'mis_solicitudes' %}">Mis Solicitudes</a></li>
                            <li><a class="dropdown-item" href="{% url 'crear_incapacidad' %}">Crear Incapacidad</a></li>
                            <li><a class="dropdown-item" href="{% url 'mis_incapacidades' %}">Mis Incapacidades</a></li>
                        </ul>
                    </li>

                    <!-- Opciones de colaboradores -->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="gestionSubordinadosDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestión de colaboradores
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="gestionSubordinadosDropdown">
                            <li><a class="dropdown-item" href="{% url 'lista_solicitudes' %}">Solicitudes</a></li>
                            <li><a class="dropdown-item" href="{% url 'historial_solicitudes' %}">Historial
                                    Solicitudes</a></li>
                            <li><a class="dropdown-item" href="{% url 'solicitudes_jerarquicas' %}">Otras
                                    Solicitudes</a></li>

                        </ul>
                    </li>
                    {% endif %}

                    {% if user.rol in 'GG' %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="gestionSubordinadosDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Reportes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="reportesGerenteDropdown">
                            <li >
                                <a class="dropdown-item" href="{% url 'historial_ajustes_vacaciones' %}">Historial Ajuste Vacaciones</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'colaboradores_info' %}">Colaboradores</a>
                            </li>

                        </ul>
                    </li>


                    

                    {% endif %}


                    {% if user.rol in 'IN' or user.rol in 'TE'  or user.rol in 'AST' or user.rol in 'FNZ'%}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'registrar_horas' %}">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'crear_solicitud' %}">Crear Solicitud</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'mis_solicitudes' %}">Mis Solicitudes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'crear_incapacidad' %}">Crear Incapacidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'mis_incapacidades' %}">Mis Incapacidades</a>
                    </li>
                    {%endif%}



                    <!-- Opciones Administrativas (solo JD del departamento ADMON) -->
                    {% if user.departamento.nombre in 'ADMON'  %}
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="reportesDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            RRHH
                        </a>
                        
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="reportesDropdown">
                            <li >
                                <a class="dropdown-item" href="{% url 'ajuste_vacaciones' %}">Ajustar Vacaciones</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'reporte_horas_extra' %}">Reporte Horas Extras</a></li>
                            <li><a class="dropdown-item" href="{% url 'lista_incapacidades' %}">Reporte Incapacidades</a></li>
                            <li><a class="dropdown-item" href="{% url 'reporte_solicitudes' %}">Reporte Solicitudes</a></li>
                        </ul>
                    </li>
                    {% endif %}


                    



                    <!-- Usuario -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.get_full_name }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item " href="{% url 'perfil_usuario' %}">Perfil</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>

    <!-- Mensajes Flash -->
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message|capfirst }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Contenido principal -->
    <div class="content container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto">
        <div class="container">
            <span class="text-muted">© 2024 Falcon 365 - Todos los derechos reservados.</span>
        </div>
    </footer>


    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>

</html>