<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Falcon 365{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'dashboard' %}">
                <img src="{% static 'img/LogoFI2.png' %}" alt="Logo" width="100%" height="40px" <img
                    src="{% static 'img/F365.png' %}" alt="Logo" width="100%" height="40px"
                    class="d-inline-block align-text-top me-2">
                <!-- Gestión de Vacaciones y Horas -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>

                    <!-- Opciones Propias -->
                    {% if user.rol in 'GG,JI,JD' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="gestionPropiaDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mis gestiones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="gestionPropiaDropdown">
                            <li><a class="dropdown-item" href="{% url 'registrar_horas' %}">Registro</a></li>
                            <li><a class="dropdown-item" href="{% url 'crear_solicitud' %}">Crear Solicitud</a></li>
                            <li><a class="dropdown-item" href="{% url 'mis_solicitudes' %}">Mis Solicitudes</a></li>
                            <li><a class="dropdown-item" href="{% url 'mis_incapacidades' %}">Incapacidades</a></li>
                            <li><a class="dropdown-item" href="{% url 'mis_licencias' %}">Licencias</a>
                        </ul>
                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white position-relative d-flex align-items-center"
                            href="#" id="gestionSubordinadosDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Gestión de colaboradores
                            <span id="pendientes-total" class="badge bg-danger position-absolute translate-middle ms-1"
                                style="display: none; font-size: 0.75rem; padding: 4px 6px; top: 5px; right: 5px;">
                                0
                            </span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="gestionSubordinadosDropdown">
                            <li>
                                <a class="dropdown-item d-flex justify-content-between align-items-center"
                                    href="{% url 'lista_solicitudes' %}">
                                    Solicitudes
                                    <span id="pendientes_solicitudes_y_registros" class="badge bg-danger ms-2"
                                        style="display: none;">0</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex justify-content-between align-items-center"
                                    href="{% url 'solicitudes_jerarquicas' %}">
                                    Otras Solicitudes
                                    <span id="pendientes-otras" class="badge bg-danger ms-2"
                                        style="display: none;">0</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'historial_solicitudes' %}">Historial
                                    Solicitudes</a>
                            </li>
                        </ul>
                    </li>

                    {% endif %}


                    {% if user.rol in 'GG' or user.rol in 'JI' or 'JD' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="gestionSubordinadosDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Reportes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="reportesGerenteDropdown">
                            {% if user.rol in 'GG'%}

                            <li>
                                <a class="dropdown-item" href="{% url 'historial_ajustes_vacaciones' %}">Historial
                                    Ajuste Vacaciones</a>
                            </li>

                            {% endif %}

                            {% if user.rol in 'JI' or user.rol in 'GG' %}

                            <li>
                                <a class="dropdown-item" href="{% url 'reporte_horas_compensatorias' %}">HC
                                    Aprobadas</a>
                            </li>
                            {% endif %}

                            <li>
                                <a class="dropdown-item" href="{% url 'reporte_total_HC' %}">Saldo HC & Vacaciones</a>
                            </li>
                            {% if user.departamento_id == 7 or user.rol in 'JI' or user.rol in 'GG' %}

                            <li>
                                <a class="dropdown-item" href="{% url 'reporte_horas_pendientes_odoo' %}">Horas ODOO</a>
                            </li>
                            {% endif %}


                        </ul>
                    </li>
                    {% endif %}


                    {% if user.rol != 'GG' and user.rol != 'JI' and user.rol != 'JD' %}


                    {% if user.rol in 'TE' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="gestionPropiaDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Registros
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="gestionPropiaDropdown">
                            <li><a class="dropdown-item" href="{% url 'registrar_horas' %}">Registro</a></li>
                            <li><a class="dropdown-item" href="{% url 'historial_horas_odoo' %}">Horas ODOO</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'registrar_horas' %}">Registro</a>
                    </li>
                    {% endif %}



                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'crear_solicitud' %}">Crear Solicitud</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'mis_solicitudes' %}">Mis Solicitudes</a>
                    </li>
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'mis_incapacidades' %}">Incapacidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'mis_licencias' %}">Mis Licencias</a>
                    </li>
                    {%endif%}



                    <!-- Opciones Administrativas (solo JD del departamento ADMON) -->
                    {% if user.departamento.nombre in 'ADMON' %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="reportesDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            RRHH
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="reportesDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'ajuste_vacaciones' %}">Ajustar Vacaciones</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'reporte_horas_extra_y_feriados' %}">Reporte Horas
                                    Extra y Feriados</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'lista_incapacidades' %}">Reporte
                                    Incapacidades</a></li>
                            <li><a class="dropdown-item" href="{% url 'reporte_solicitudes' %}">Reporte Solicitudes</a>

                            </li>

                            <li><a class="dropdown-item" href="{% url 'reporte_licencias' %}">Reporte Licencias</a>

                            </li>

                            <li><a class="dropdown-item" href="{% url 'reporte_descansos' %}">Reporte Art. 327</a>

                            </li>
                        </ul>
                    </li>
                    {% endif %}


                    <!-- Usuario -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.get_full_name }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item " href="{% url 'perfil_usuario' %}">Perfil</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>

    <!-- Mensajes Flash -->
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message|capfirst }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Contenido principal -->
    <div class="content container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto">
        <div class="container">
            <span class="text-muted">© 2024 Falcon 365 - Todos los derechos reservados.</span>
        </div>
    </footer>


    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        function actualizarPendientes() {
            fetch("{% url 'obtener_cantidad_pendientes' %}")  // Llamamos a la API
                .then(response => response.json())
                .then(data => {
                    const badgeTotal = document.getElementById("pendientes-total");
                    const badgeSolicitudes = document.getElementById("pendientes_solicitudes_y_registros");
                    const badgeOtras = document.getElementById("pendientes-otras");

                    // Total en "Gestión de colaboradores"
                    let total = data.pendientes_total;
                    if (total > 0) {
                        badgeTotal.innerText = total;
                        badgeTotal.style.display = "inline-block";
                    } else {
                        badgeTotal.style.display = "none";
                    }

                    // Solicitudes y Registros Pendientes
                    if (data.pendientes_solicitudes_y_registros > 0) {
                        badgeSolicitudes.innerText = data.pendientes_solicitudes_y_registros;
                        badgeSolicitudes.style.display = "inline-block";
                    } else {
                        badgeSolicitudes.style.display = "none";
                    }

                    // Otras Solicitudes Pendientes
                    if (data.pendientes_otras > 0) {
                        badgeOtras.innerText = data.pendientes_otras;
                        badgeOtras.style.display = "inline-block";
                    } else {
                        badgeOtras.style.display = "none";
                    }
                })
                .catch(error => console.error("Error obteniendo pendientes:", error));
        }

        document.addEventListener("DOMContentLoaded", () => {
            actualizarPendientes();  // Carga inicial de la cantidad de pendientes
            setInterval(actualizarPendientes, 60000);  // Actualiza cada 60 segundos
        });
    </script>



</body>

</html>