{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Crear Solicitud{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Crear Solicitud</h4>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <p><strong>Días de vacaciones disponibles:</strong> {{ dias_vacaciones }}</p>
                        <p><strong>Horas compensatorias disponibles:</strong> {{ horas_compensatorias }}</p>
                        <p><strong>Horas extra acumuladas:</strong> {{ horas_extra }}</p>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <div class="alert alert-info" id="dias-solicitados">
                            La cantidad de días solicitados es:  días.
                        </div>
                        <div class="alert alert-info" id="horas-solicitadas">
                            La cantidad de horas solicitadas es:  horas.
                        </div>

                        <button type="submit" class="btn btn-success w-100">Crear Solicitud</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    document.addEventListener('DOMContentLoaded', function () {
    const tipoSelect = document.getElementById('id_tipo');
    const fechaFinInput = document.getElementById('id_fecha_fin');
    const fechaInicioInput = document.getElementById('id_fecha_inicio');
    const diasSolicitadosInfo = document.getElementById('dias-solicitados');
    const horasSolicitadasInfo = document.getElementById('horas-solicitadas');

    flatpickr('.flatpickr-datetime', {
            enableTime: true,
            dateFormat: 'Y-m-d H:i',
            time_24hr: true,
            locale: 'es'
        });

    function calcularHorasSolicitadas() {
        const fechaInicio = new Date(fechaInicioInput.value);
        const fechaFin = new Date(fechaFinInput.value);

        if (fechaInicio && fechaFin && fechaFin >= fechaInicio) {
            const diferenciaTiempo = fechaFin - fechaInicio;
            const horas = diferenciaTiempo / (1000 * 60 * 60);
            horasSolicitadasInfo.textContent = `La cantidad de horas solicitadas es: ${Math.round(horas * 100) / 100} horas.`;
        } else {
            horasSolicitadasInfo.textContent = `La cantidad de horas solicitadas es: 0 horas.`;
        }
    }

    function calcularDiasSolicitados() {
        const fechaInicio = new Date(fechaInicioInput.value);
        const fechaFin = new Date(fechaFinInput.value);

        if (fechaInicio && fechaFin && fechaFin >= fechaInicio) {
            const diferenciaTiempo = fechaFin - fechaInicio;
            const dias = Math.ceil(diferenciaTiempo / (1000 * 60 * 60 * 24)) + 1;
            diasSolicitadosInfo.textContent = `La cantidad de días solicitados es: ${dias} días.`;
        } else {
            diasSolicitadosInfo.textContent = `La cantidad de días solicitados es: 0 días.`;
        }
    }

    function actualizarCalculos() {
        if (tipoSelect.value === 'V') {
            calcularDiasSolicitados();
        } else if (tipoSelect.value === 'HE' || tipoSelect.value === 'HC') {
            calcularHorasSolicitadas();
        }
    }

    function mostrarOcultarDiasHoras() {
        if (tipoSelect.value === 'V') {
            diasSolicitadosInfo.style.display = 'block';
            horasSolicitadasInfo.style.display = 'none';
            calcularDiasSolicitados();
        } else if (tipoSelect.value === 'HE' || tipoSelect.value === 'HC') {
            diasSolicitadosInfo.style.display = 'none';
            horasSolicitadasInfo.style.display = 'block';
            calcularHorasSolicitadas();
        } else {
            diasSolicitadosInfo.style.display = 'none';
            horasSolicitadasInfo.style.display = 'none';
        }
    }

    // Inicialización y event listeners
    mostrarOcultarDiasHoras();
    tipoSelect.addEventListener('change', mostrarOcultarDiasHoras);
    fechaInicioInput.addEventListener('change', actualizarCalculos);
    fechaFinInput.addEventListener('change', actualizarCalculos);
});
</script>

{% endblock %}
