{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Editar Solicitud{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card-header bg-warning text-white">
        <h4 class="mb-0">Editar Solicitud</h4>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="alert alert-info" id="dias-solicitados">
            La cantidad de días solicitados es:  días.
        </div>
        <div class="alert alert-info" id="horas-solicitadas">
            La cantidad de horas solicitadas es:  horas.
        </div>
        {% if form.non_field_errors %}
        <div class="alert alert-danger" id="form-errors" style="display: none;">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{% url 'mis_solicitudes' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tipoSelect = document.getElementById('id_tipo');
        const fechaFinInput = document.getElementById('id_fecha_fin');
        const fechaInicioInput = document.getElementById('id_fecha_inicio');
        const diasSolicitadosInfo = document.getElementById('dias-solicitados');
        const horasSolicitadasInfo = document.getElementById('horas-solicitadas');
        const formErrors = document.getElementById('form-errors');
        flatpickr('.flatpickr-datetime', {
            enableTime: true,
            dateFormat: 'Y-m-d H:i',
            time_24hr: true,
            locale: 'es'
        });


        function ocultarMensajes() {
            diasSolicitadosInfo.style.display = 'none';
            diasSolicitadosInfo.textContent = '';
            horasSolicitadasInfo.style.display = 'none';
            horasSolicitadasInfo.textContent = '';
        }

        function verificarErroresFormulario() {
            if (formErrors && formErrors.textContent.trim() !== '') {
                ocultarMensajes();
            }
        }




        let diasFeriados = [];

        async function obtenerFeriados(fechaInicio, fechaFin) {
            // Eliminar la hora de las fechas
            const fechaInicioSinHora = fechaInicio.split(' ')[0];
            const fechaFinSinHora = fechaFin.split(' ')[0];

            const response = await fetch(`/getferiados/?fecha_inicio=${fechaInicioSinHora}&fecha_fin=${fechaFinSinHora}`);
            const feriados = await response.ok
                ? (await response.json()).feriados.map(fecha => new Date(fecha))
                : [];

            console.log('Feriados obtenidos:', feriados);
            return feriados;
        }




        function calcularHorasSolicitadas() {
            const fechaInicio = new Date(fechaInicioInput.value);
            const fechaFin = new Date(fechaFinInput.value);

            if (fechaInicio && fechaFin && fechaFin >= fechaInicio) {
                let diferenciaTiempo = fechaFin - fechaInicio;
                let horas = diferenciaTiempo / (1000 * 60 * 60);

                const almuerzoInicio = new Date(fechaInicio);
                almuerzoInicio.setHours(12, 0, 0, 0);

                const almuerzoFin = new Date(fechaInicio);
                almuerzoFin.setHours(13, 0, 0, 0);

                if (fechaInicio <= almuerzoInicio && fechaFin >= almuerzoFin) {
                    horas -= 1;
                }

                horasSolicitadasInfo.textContent = `La cantidad de horas solicitadas es: ${Math.round(horas * 100) / 100} horas.`;
            } else {
                horasSolicitadasInfo.textContent = `La cantidad de horas solicitadas es: 0 horas.`;
            }
        }

        function calcularDiasSolicitados() {
            const fechaInicio = new Date(fechaInicioInput.value);
            const fechaFin = new Date(fechaFinInput.value);

            fechaInicio.setUTCHours(6, 0, 0, 0);
            fechaFin.setUTCHours(6, 0, 0, 0);

            // Verificar si las fechas son válidas
            if (fechaInicio && fechaFin && fechaFin >= fechaInicio) {
                let dias = 0;
                let diaActual = new Date(fechaInicio);

                while (diaActual <= fechaFin) {
                    const esFeriado = diasFeriados.some(f => {
                        const feriado = new Date(f);
                        feriado.setUTCHours(6, 0, 0, 0);
                        return feriado.getTime() === diaActual.getTime();
                    });
                    const esDiaLaborable = diaActual.getUTCDay() !== 6 && diaActual.getUTCDay() !== 0 && !esFeriado;

                    if (esDiaLaborable) {
                        dias++;
                    }
                    diaActual.setUTCDate(diaActual.getUTCDate() + 1);
                }

                diasSolicitadosInfo.textContent = `La cantidad de días solicitados es: ${dias} días.`;
            } else {
                diasSolicitadosInfo.textContent = `La cantidad de días solicitados es: 0 días.`;
            }
        }


        async function actualizarCalculos() {
            const fechaInicioSoloFecha = fechaInicioInput.value.split("T")[0]; // Extraer solo la fecha
            const fechaFinSoloFecha = fechaFinInput.value.split("T")[0];

            if (tipoSelect.value === 'V') {
                diasFeriados = await obtenerFeriados(fechaInicioSoloFecha, fechaFinSoloFecha);
                console.log('Días feriados:', diasFeriados);
                calcularDiasSolicitados();
            } else if (tipoSelect.value === 'HC') {
                calcularHorasSolicitadas();
            }
        }


        function mostrarOcultarDiasHoras() {
            if (tipoSelect.value === 'V') {
                diasSolicitadosInfo.style.display = 'block';
                horasSolicitadasInfo.style.display = 'none';
                calcularDiasSolicitados();
            } else if (tipoSelect.value === 'HE' || tipoSelect.value === 'HC') {
                diasSolicitadosInfo.style.display = 'none';
                horasSolicitadasInfo.style.display = 'block';
                calcularHorasSolicitadas();
            } else {
                diasSolicitadosInfo.style.display = 'none';
                horasSolicitadasInfo.style.display = 'none';
            }
        }

        mostrarOcultarDiasHoras();
        verificarErroresFormulario()
        tipoSelect.addEventListener('change', mostrarOcultarDiasHoras);
        fechaInicioInput.addEventListener('change', actualizarCalculos);
        fechaFinInput.addEventListener('change', actualizarCalculos);
    });
</script>


{% endblock %}