{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Editar Incapacidad{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Editar Incapacidad</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}        
        <button type="submit" class="btn btn-success w-100">Guardar Cambios</button>
        <a href="{% url 'mis_incapacidades' %}" class="btn btn-secondary w-100 mt-2">Cancelar</a>
    </form>
</div>
{% endblock %}
