{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Editar Registro{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-warning text-white">
            <h4 class="mb-0">Editar Registro</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="alert alert-info mb-3" id="horas-calculadas" style="display: none;">
                    La cantidad de horas a registrar es: <span id="cantidad-horas">0</span> horas.
                </div>

                <div class="alert alert-warning mb-3" id="mensaje-feriados" style="display: none;">
                    Por tu trabajo en días feriados, se te sumarán 9 horas compensatorias por día si el registro es
                    aprobado.
                </div>
                <button type="submit" class="btn btn-success w-100">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const fechaInicioInput = document.getElementById('id_fecha_inicio');
        const fechaFinInput = document.getElementById('id_fecha_fin');
        const tipoHorasInput = document.getElementById('id_tipo');
        const horasCalculadasDiv = document.getElementById('horas-calculadas');
        const cantidadHorasSpan = document.getElementById('cantidad-horas');
        const mensajeFeriadosDiv = document.getElementById('mensaje-feriados');

        flatpickr('.flatpickr-datetime', {
            enableTime: true,
            dateFormat: 'Y-m-d H:i',
            time_24hr: true,
            locale: 'es'
        });

        let diasFeriados = [];

        async function obtenerFeriados(fechaInicio, fechaFin) {
            const fechaInicioSinHora = fechaInicio.split(' ')[0];
            const fechaFinSinHora = fechaFin.split(' ')[0];

            const response = await fetch(`/getferiados/?fecha_inicio=${fechaInicioSinHora}&fecha_fin=${fechaFinSinHora}`);
            const feriados = await response.ok
                ? (await response.json()).feriados.map(fecha => new Date(fecha))
                : [];

            console.log('Feriados obtenidos:', feriados);
            return feriados;
        }

        async function calcularHoras() {
            const fechaInicio = new Date(fechaInicioInput.value);
            const fechaFin = new Date(fechaFinInput.value);

            if (fechaInicio && fechaFin && fechaFin > fechaInicio) {
                let horas = (fechaFin - fechaInicio) / (1000 * 60 * 60);

                // Inicializar variables para verificar días excluidos
                const esSabadoODomingo = (fecha) => fecha.getDay() === 0 || fecha.getDay() === 6;
                let esFeriado = false;

                // Obtener feriados
                diasFeriados = await obtenerFeriados(
                    fechaInicio.toISOString().split('T')[0],
                    fechaFin.toISOString().split('T')[0]
                );

                // Verificar si la fecha inicial o final están dentro de los feriados
                esFeriado = diasFeriados.some(
                    (feriado) => fechaInicio <= feriado && fechaFin >= feriado
                );

                // Descontar la hora de almuerzo si no es sábado, domingo o feriado
                if (!esSabadoODomingo(fechaInicio) && !esFeriado) {
                    const almuerzoInicio = new Date(fechaInicio);
                    almuerzoInicio.setHours(12, 0, 0, 0); // 12:00 PM

                    const almuerzoFin = new Date(fechaInicio);
                    almuerzoFin.setHours(13, 0, 0, 0); // 1:00 PM

                    if (fechaInicio <= almuerzoInicio && fechaFin >= almuerzoFin) {
                        horas -= 1; // Descontar 1 hora de almuerzo
                    }
                }

                // Duplicar horas si es domingo y tipoHoras es 'HC'
                if (fechaInicio.getDay() === 0 && fechaFin.getDay() === 0 && tipoHorasInput.value === 'HC') {
                    horas *= 2;
                }

                // Mostrar mensaje si es 'HEF'
                if (tipoHorasInput.value === 'HEF') {
                    mensajeFeriadosDiv.style.display = 'block';
                }

                // Mostrar las horas calculadas con 2 decimales
                cantidadHorasSpan.textContent = horas.toFixed(2);
                horasCalculadasDiv.style.display = 'block';
            } else {
                mensajeFeriadosDiv.style.display = 'none';
                horasCalculadasDiv.style.display = 'none';
            }
        }

        // Verificar si ya hay fechas seleccionadas al cargar la página
        if (fechaInicioInput.value && fechaFinInput.value) {
            calcularHoras();
        }

        // Agregar event listeners para recalcular cuando cambien las fechas o el tipo de horas
        fechaInicioInput.addEventListener('change', calcularHoras);
        fechaFinInput.addEventListener('change', calcularHoras);
        tipoHorasInput.addEventListener('change', calcularHoras);

    });
</script>
{% endblock %}