{% extends 'base.html' %}
{% block title %}Historial de Solicitudes y Registros de Horas{% endblock %}
{% block content %}

<h2>Historial de Solicitudes y Registros de Horas</h2>
<form method="get" class="mb-3">
    <div class="row">
        <div class="col-md-3">
            <label for="estado" class="form-label">Filtrar por estado:</label>
            <select name="estado" id="estado" class="form-select">
                <option value="">Todos</option>
                <option value="P" {% if request.GET.estado == "P" %}selected{% endif %}>Pendiente</option>
                <option value="A" {% if request.GET.estado == "A" %}selected{% endif %}>Aprobado</option>
                <option value="R" {% if request.GET.estado == "R" %}selected{% endif %}>Rechazado</option>
            </select>
        </div>

        <div class="col-md-3">
            <label for="tipo" class="form-label">Filtrar por tipo:</label>
            <select name="tipo" id="tipo" class="form-select">
                <option value="">Todos</option>
                <option value="V" {% if request.GET.tipo == "V" %}selected{% endif %}>Vacaciones</option>
                <option value="HE" {% if request.GET.tipo == "HE" %}selected{% endif %}>Horas Extra</option>
                <option value="HC" {% if request.GET.tipo == "HC" %}selected{% endif %}>Horas Compensatorias</option>
            </select>
        </div>

        {% if user.rol in 'GG,JI,JD' %}
        <div class="col-md-3">
            <label for="usuario" class="form-label">Filtrar por colaborador:</label>
            <select name="usuario" id="usuario" class="form-select">
                <option value="">Todos</option>
                {% for subordinado in subordinados %}
                <option value="{{ subordinado.id }}" {% if request.GET.usuario == subordinado.id|stringformat:"s" %}selected{% endif %}>
                    {{ subordinado.get_full_name }}
                </option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary mt-3">Filtrar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Nº Solicitud</th>
            <th>Nº Proyecto</th>
            <th>Tipo</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Horas</th>
            <th>Dias</th>
            <th>Descripción</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for item in registros_y_solicitudes %}
        <tr>
            <td>{{ item.usuario.get_full_name }}</td>
            
            <td>
                {% if item.tipo_objeto == 'registro' %}
                {{ item.numero_registro}}
            {% endif %}

            {% if item.tipo_objeto == 'solicitud' %}
                {{ item.numero_solicitud}}
            {% endif %}
            </td>
            <td>
                {{ item.numero_proyecto | default:'NA'}}
            </td>
            <td>
                {% if item.tipo_objeto == 'solicitud' %}
                    {{ item.get_tipo_display }}
                {% endif %}

                {% if item.tipo_objeto == 'registro' %}
                    {{ item.get_tipo_display }}
                {% endif %}
            </td>
            <td>{{ item.fecha_inicio }}</td>
            <td>{{ item.fecha_fin }}</td>
            <td>{{ item.horas }}</td>
            <td>
                {{ item.dias_solicitados | default:0}}
            </td>
            <td>
                {{ item.descripcion | default:'-'}}
            </td>
            <td>{{ item.get_estado_display }}</td>
            <!-- <td>
                <a href="{% if item.tipo_objeto == 'solicitud' %}
                            {% url 'aprobar_rechazar_solicitud' item.id %}
                        {% else %}
                            {% url 'aprobar_rechazar_horas' item.id %}
                        {% endif %}"
                    class="btn btn-primary btn-sm">Cambiar Estado</a>
            </td> -->

            <td>
                {% if item.tipo_objeto == 'solicitud'  %}
                    {% if item.es_eliminable %}
                        <a href="{% url 'aprobar_rechazar_solicitud' item.id %}" class="btn btn-primary btn-sm">Cambiar Estado</a>
                    {% else %}
                        <span class="text-muted">No modificable</span>
                    {% endif %}
                {% endif %}
                
                {% if item.tipo_objeto == 'registro' %}
                    {% if item.es_eliminable %}
                    <a href="{% url 'aprobar_rechazar_horas' item.id %}" class="btn btn-primary btn-sm">Cambiar Estado</a>
                    {% else %}
                    <span class="text-muted">No modificable</span>
                    {% endif %}
                    {% endif %}
            </td>
            
            
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No hay solicitudes ni registros de horas en el historial.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Controles de Paginación -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        <!-- Botón para ir a la primera página -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}" aria-label="Primera">
                Primera
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}" aria-label="Anterior">
                Anterior
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Primera">
                Primera
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Anterior">
                Anterior
            </a>
        </li>
        {% endif %}

        <!-- Páginas intermedias -->
        {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}">{{ num }}</a>
        </li>
        {% endfor %}

        <!-- Botón para ir a la última página -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}" aria-label="Siguiente">
                Siguiente
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}" aria-label="Última">
                Última
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Siguiente">
                Siguiente
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Última">
                Última
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
