{% extends 'base.html' %}

{% block title %}Lista de Solicitudes y Registros de Horas Pendientes de Aprobrar / Rechazar{% endblock %}

{% block content %}
<h2>Lista de Solicitudes y Registros de Horas Pendientes de Aprobar / Rechazar</h2>

<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Nº Solicitud</th>
            <th>Nº Proyecto</th>
            <th>Tipo</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Horas</th>
            <th>Dias</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in pendientes %}
        <tr>
            <td>{{ item.usuario.get_full_name }}</td>
            
            <td>
                {% if item.tipo_objeto == 'registro' %}
                    {{ item.numero_registro}}
                {% endif %}
 
                {% if item.tipo_objeto == 'solicitud' %}
                    {{ item.numero_solicitud}}
                {% endif %}
            </td>
            <td>
                {% if item.tipo_objeto == 'registro' %}
                    {{ item.numero_proyecto}}
                {%else%}
                    ND
                {% endif %}
            </td>
            <td>
                {% if item.tipo_objeto == 'solicitud' %}
                    {{ item.get_tipo_display }}
                {% endif %}

                {% if item.tipo_objeto == 'registro' %}
                    {{ item.get_tipo_display }}
                {% endif %}
            </td>
            <td>{{ item.fecha_inicio }}</td>
            <td>{{ item.fecha_fin }}</td>
            <td>{{ item.horas }}</td>
            <td>
                {% if item.tipo_objeto == 'solicitud' %}
                    {{ item.dias_solicitados }}
                {% else %}
                    0
                {% endif %}
            </td>
            <td>
                {% if item.tipo_objeto == 'registro' %}
                    {{ item.descripcion}}
                {%else%}
                    ND
                {% endif %}
            </td>
            <td>{{ item.get_estado_display }}</td>
            <td>
                {% if item.tipo_objeto == 'solicitud' %}
                    <a href="{% url 'aprobar_rechazar_solicitud' item.pk %}" class="btn btn-sm btn-primary">Aprobar/Rechazar</a>
                {% else %}
                    <a href="{% url 'aprobar_rechazar_horas' item.pk %}" class="btn btn-sm btn-primary">Aprobar/Rechazar</a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8">No hay solicitudes ni registros de horas pendientes.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Controles de Paginación -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">Primera</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
        {% endif %}
    </span>
</div>
{% endblock %}
