{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Mi Perfil</h4>
                </div>
                <div class="card-body">
                    <p><strong>Bienvenido:</strong> {{ user.get_full_name }}</p>
                    <p><strong>Rol:</strong> {{ user.get_rol_display }}</p>
                    <p><strong>Departamento:</strong> {{ user.departamento }}</p>
                    <p><strong>Días de vacaciones disponibles:</strong> {{ dias_vacaciones_disponibles }}</p>
                    <p><strong>Horas Compensatorias disponibles:</strong> {{ user.horas_compensatorias_disponibles }}</p>
                    <p><strong>Horas extra disponibles:</strong> {{ user.horas_extra_acumuladas }}</p>
                    <hr>
                    <a href="{% url 'cambiar_contrasena' %}" class="btn btn-warning">Cambiar Contraseña</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
