{% extends 'base.html' %}

{% block title %}Historial de Solicitudes y Registros de Horas{% endblock %}

{% block content %}
<h2>Mis Solicitudes y Registros de Horas</h2>

<form method="get" class="mb-3">
    <div class="row">
        <div class="col-md-3">
            <label for="estado" class="form-label">Filtrar por estado:</label>
            <select name="estado" id="estado" class="form-select">
                <option value="">Todos</option>
                <option value="P" {% if request.GET.estado == "P" %}selected{% endif %}>Pendiente</option>
                <option value="A" {% if request.GET.estado == "A" %}selected{% endif %}>Aprobado</option>
                <option value="R" {% if request.GET.estado == "R" %}selected{% endif %}>Rechazado</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Filtrar</button>
</form>

<table class="table">
    <table class="table">
        <thead>
            <tr>
                <th>Colaborador</th>
                <th>Nº Solicitud</th>
                <th>Nº Proyecto</th>
                <th>Tipo</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Horas</th>
                <th>Días</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones</th> <!-- Nueva columna -->
            </tr>
        </thead>
        <tbody>
            {% for item in solicitudes_y_registros %}
            <tr>
                <td>{{ item.usuario.get_full_name }}</td>
                
                <td>
                    {% if item.tipo_objeto == 'registro' %}
                    {{ item.numero_registro }}
                    {% else %}
                    {{ item.numero_solicitud }}
                    {% endif %}
                </td>
                <td>
                    {{ item.numero_proyecto | default:"NA"  }}
                </td>
                <td>
                    {% if item.tipo_objeto == 'solicitud' %}
                    {{ item.get_tipo_display }}
                    {% else %}
                    {{ item.get_tipo_display }}
                    {% endif %}
                </td>
                <td>{{ item.fecha_inicio|date:"d/M/Y H:i" }}</td>
                <td>{{ item.fecha_fin|date:"d/M/Y H:i" }}</td>
                <td>{{ item.horas|default:0 }}</td>
                <td>
                    {{ item.dias_solicitados|default:0 }}
                </td>
                <td>
                    {{ item.descripcion|default:"-" }}
                </td>
                <td>{{ item.get_estado_display }}</td>
                <td>
                    {% if item.estado == 'P' %}
                        {% if item.tipo_objeto == 'solicitud' %}
                            <!-- Botones para Solicitud -->
                            <a href="{% url 'editar_solicitud' item.id %}" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a href="{% url 'eliminar_solicitud' item.id %}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i> Eliminar
                            </a>
                        {% elif item.tipo_objeto == 'registro' %}
                            <!-- Botones para Registro de Horas -->
                            <a href="{% url 'editar_registro_horas' item.id %}" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a href="{% url 'eliminar_registro_horas' item.id %}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i> Eliminar
                            </a>
                        {% elif item.tipo_objeto == 'licencia' %}
                            <!-- Botones para Licencia -->
                            <a href="{% url 'editar_licencia' item.id %}" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a href="{% url 'eliminar_licencia' item.id %}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i> Eliminar
                            </a>
                        {% endif %}
                    {% else %}
                        <!-- Botones deshabilitados si no está en estado 'P' -->
                        <button class="btn btn-secondary btn-sm" disabled>
                            <i class="fas fa-edit"></i> No Editable
                        </button>
                        <button class="btn btn-secondary btn-sm" disabled>
                            <i class="fas fa-trash"></i> No Eliminable
                        </button>
                    {% endif %}
                </td>
                
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="11">No hay solicitudes ni registros de horas en el historial.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

<!-- Controles de Paginación -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        <!-- Botón para ir a la primera página -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}" aria-label="Primera">
                Primera
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}" aria-label="Anterior">
                Anterior
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Primera">
                Primera
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Anterior">
                Anterior
            </a>
        </li>
        {% endif %}

        <!-- Páginas intermedias -->
        {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}">{{ num }}</a>
        </li>
        {% endfor %}

        <!-- Botón para ir a la última página -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}" aria-label="Siguiente">
                Siguiente
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}" aria-label="Última">
                Última
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Siguiente">
                Siguiente
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Última">
                Última
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
