{% extends 'base.html' %}

{% block title %}Historial de Solicitudes y Registros de Horas{% endblock %}

{% block content %}
<h2>Mis Solicitudes y Registros de Horas</h2>

<!-- Formulario para filtrar solicitudes por estado -->
<form method="get" class="mb-3">
    <div class="row">
        <!-- Filtro por estado -->
        <div class="col-md-3">
            <label for="estado" class="form-label">Filtrar por estado:</label>
            <select name="estado" id="estado" class="form-select">
                <option value="">Todos</option>
                <option value="P" {% if request.GET.estado == "P" %}selected{% endif %}>Pendiente</option>
                <option value="A" {% if request.GET.estado == "A" %}selected{% endif %}>Aprobado</option>
                <option value="R" {% if request.GET.estado == "R" %}selected{% endif %}>Rechazado</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Filtrar</button>
</form>

<!-- Tabla para mostrar el historial de solicitudes y registros de horas -->
<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Tipo</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Horas</th>
            <th>Dias</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for item in solicitudes_y_registros %}
        <tr>
            <td>{{ item.usuario.get_full_name }}</td>
            <td>
                {% if item.tipo_objeto == 'solicitud' %}
                    {{ item.get_tipo_display }}
                {% else %}
                    Registro de Horas
                {% endif %}
            </td>
            <td>{{ item.fecha_inicio }}</td>
            <td>{{ item.fecha_fin }}</td>
            <td>{{ item.horas }}</td>
            <td>
                {% if item.tipo_objeto == 'solicitud' %}
                    {{ item.dias_solicitados }}
                {% else %}
                    0
                {% endif %}
            </td>
            <td>{{ item.get_estado_display }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No hay solicitudes ni registros de horas en el historial.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
