{% extends 'base.html' %}

{% block title %}Reporte de Horas Extras{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Reporte de Horas Extras</h2>
    <form method="post">
        {% csrf_token %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="seleccionar_todos">
                    </th>
                    <th>Usuario</th>
                    <th>Nº Registro</th>
                    <th>Nº Proyecto</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Horas</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario, data in page_obj %}
                    <tr>
                        <td colspan="8"><strong>{{ usuario.get_full_name }}</strong></td>
                    </tr>
                    {% for registro in data.registros %}
                    <tr>
                        <td>
                            <input type="checkbox" name="seleccionados" value="{{ registro.id }}">
                        </td>
                        <td></td>
                        <td>{{ registro.numero_registro }}</td>
                        <td>{{ registro.numero_proyecto }}</td>
                        <td>{{ registro.fecha_inicio|date:"d/M/Y H:i"}}</td>
                        <td>{{ registro.fecha_fin|date:"d/M/Y H:i"}}</td>
                        <td>{{ registro.horas }}</td>
                        <td>{{ registro.descripcion }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="6">Total horas para {{ usuario.get_full_name }}</th>
                        <td colspan="2">{{ data.total_horas }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Botones de acción -->
        <button type="submit" name="generar_reporte" class="btn btn-secondary" id="boton_generar_reporte" {% if not hay_registros_pendientes %}disabled{% endif %}>Generar Reporte</button>
        <button type="submit" name="marcar_pagado" class="btn btn-primary" id="boton_marcar_pagado" disabled>Marcar como Pagado</button>
    </form>

    <!-- Barra de navegación de la paginación -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <!-- Botón Primera -->
            {% if registros_por_usuario.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}" aria-label="Primera">
                    Primera
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Primera">
                    Primera
                </a>
            </li>
            {% endif %}
    
            <!-- Botón Anterior -->
            {% if registros_por_usuario.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ registros_por_usuario.previous_page_number }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}" aria-label="Anterior">
                    Anterior
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Anterior">
                    Anterior
                </a>
            </li>
            {% endif %}
    
            <!-- Páginas -->
            {% for num in registros_por_usuario.paginator.page_range %}
            <li class="page-item {% if registros_por_usuario.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}">{{ num }}</a>
            </li>
            {% endfor %}
    
            <!-- Botón Siguiente -->
            {% if registros_por_usuario.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ registros_por_usuario.next_page_number }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}" aria-label="Siguiente">
                    Siguiente
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Siguiente">
                    Siguiente
                </a>
            </li>
            {% endif %}
    
            <!-- Botón Última -->
            {% if registros_por_usuario.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ registros_por_usuario.paginator.num_pages }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}" aria-label="Última">
                    Última
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Última">
                    Última
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const checkboxes = document.querySelectorAll('input[name="seleccionados"]');
        const botonMarcarPagado = document.getElementById('boton_marcar_pagado');
        const seleccionarTodos = document.getElementById('seleccionar_todos');

        function actualizarEstadoBotones() {
            const haySeleccionados = Array.from(checkboxes).some(checkbox => checkbox.checked);
            botonMarcarPagado.disabled = !haySeleccionados;
        }

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', actualizarEstadoBotones);
        });

        seleccionarTodos.addEventListener('change', function () {
            checkboxes.forEach(checkbox => checkbox.checked = seleccionarTodos.checked);
            actualizarEstadoBotones();
        });

        actualizarEstadoBotones();
    });
</script>
{% endblock %}
