# Ignorar archivos específicos de PyTorch que son demasiado grandes


# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de Python compilados
*.pyc
__pycache__/


# Ignorar todos los archivos en cualquier carpeta migrations
**/migrations/*

# Pero mantener los archivos __init__.py
!**/migrations/__init__.py

media
.env


# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Virtual environments
env/
venv/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal

# Static and media
/staticfiles/
*/staticfiles/
*/media/
media/

# Local settings
.env

# IDEs and editors
.vscode/
.idea/
*.swp

# Compiled files
*.egg-info/
dist/
build/
*.egg


Scripts/script_logs.txt
banned_ips.txt
server_log.txt